#!/usr/bin/env ansible-playbook

- name: Gather prerequisites 
  hosts: all
  gather_facts: True
  tasks:
    - name: create groups based on distribution
      group_by: key={{ ansible_distribution }}

- name: Install Version Control Systems
  hosts: Ubuntu
  sudo: True
  tasks:
    - name: Install Git
      apt: name=git state=latest update_cache=true cache_valid_time=600
    - name: Install Subversion
      apt: name=subversion state=latest update_cache=true cache_valid_time=600
    - name: Install Mercurial
      apt: name=mercurial state=latest update_cache=true cache_valid_time=600

- name: Install JDK
  hosts: Ubuntu
  sudo: True
  tasks:
    - name: Download Java 8 JDK
      command: wget --quiet --output-document=/root/jdk-8.tar.gz --no-check-certificate --no-cookies --header "Cookie:oraclelicense=accept-securebackup-cookie" http://download.oracle.com/otn-pub/java/jdk/8u60-b27/jdk-8u60-linux-x64.tar.gz
    - name: Create destination directory
      file: path=/usr/lib/jvm owner=root group=root state=directory mode=755
    - name: unpack the archive
      unarchive: src=/root/jdk-8.tar.gz dest=/usr/lib/jvm copy=no owner=root group=root mode=755 creates=/usr/lib/jvm/jdk1.8.0_60/COPYRIGHT
    - name: soft-link the JDK to a normalized location
      file: src=/usr/lib/jvm/jdk1.8.0_60 dest=/usr/lib/jvm/oracle-jdk-8 owner=root group=root state=link 
    - name: Export JDK_HOME
      lineinfile: dest=/etc/environment line='JDK_HOME=/usr/lib/jvm/oracle-jdk-8'
    - name: Export JAVA_HOME
      lineinfile: dest=/etc/environment line='JAVA_HOME=/usr/lib/jvm/oracle-jdk-8'

- name: Install GVM
  hosts: Ubuntu
  sudo: True
  tasks:
    - name: Download GVM
      get_url: url=http://get.gvmtool.net dest=/root/gvm-install.sh mode=0555
    - name: Install GVM
      shell: sudo --user vagrant --set-home --non-interactive --login /root/install-gvm.sh --
    - name: Create destination director
      file: path=/home/vagrant/.gvm/etc owner=vagrant group=vagrant state=directory mode=755
    - name: Copy GVM configuration file
      copy: src=files/gvm.config dest=/home/vagrant/.gvm/etc/config owner=vagrant group=vagrant mode=644 backup=no
    - name: Set permissions on the home directory
      file: path=/home/vagrant owner=vagrant group=vagrant recurse=true state=directory

- name: Apache Ant bits
  hosts: Ubuntu
  sudo: False
  tasks:
      - name: Create Software directory
        file: path=/home/vagrant/Software owner=vagrant group=vagrant state=directory mode=755
      - name: Create Downloads directory
        file: path=/home/vagrant/Downloads owner=vagrant group=vagrant state=directory mode=755
      - name: Download Ant
        get_url: url=http://mirrors.ibiblio.org/apache//ant/binaries/apache-ant-1.9.5-bin.tar.gz dest=/home/vagrant/Downloads/ant.tar.gz mode=444
      - name: Unpack Ant
        unarchive: src=/home/vagrant/Downloads/ant.tar.gz dest=/home/vagrant/Software copy=no owner=vagrant group=vagrant creates=/home/vagrant/Software/apache-ant-1.9.5/README
      - name: Soft-link Ant
        file: src=/home/vagrant/Software/apache-ant-1.9.5 path=/home/vagrant/Software/ant state=link
      - name: Export ANT_HOME
        lineinfile: dest=/etc/environment line='ANT_HOME=/home/vagrant/Software/ant'

- name: Apache Maven bits
  hosts: Ubuntu
  sudo: False
  tasks:
      - name: Create Software directory
        file: path=/home/vagrant/Software owner=vagrant group=vagrant state=directory mode=755
      - name: Create Downloads directory
        file: path=/home/vagrant/Downloads owner=vagrant group=vagrant state=directory mode=755
      - name: Download Maven
        get_url: url=http://mirrors.ibiblio.org/apache/maven/maven-3/3.3.1/binaries/apache-maven-3.3.1-bin.tar.gz dest=/home/vagrant/Downloads/maven.tar.gz mode=444
      - name: Unpack Maven
        unarchive: src=/home/vagrant/Downloads/maven.tar.gz dest=/home/vagrant/Software copy=no owner=vagrant group=vagrant creates=/home/vagrant/Software/apache-maven-3.3.1/NOTICE
      - name: Soft-link Maven
        file: src=/home/vagrant/Software/apache-maven-3.3.1 path=/home/vagrant/Software/maven state=link
      - name: Export M2_HOME
        lineinfile: dest=/etc/environment line='M2_HOME=/home/vagrant/Software/maven'

- name: Node
  hosts: Ubuntu
  sudo: True
  tasks:
      - name: Download Node
        get_url: url=http://nodejs.org/dist/v0.12.0/node-v0.12.0-linux-x64.tar.gz dest=/root/node.tar.gz mode=444
      - name: Unpack Node
        unarchive: src=/root/node.tar.gz dest=/opt copy=no owner=root group=root creates=/opt/node-v0.12.0-linux-x64/LICENSE
      - name: Soft-link Node
        file: src=/opt/node-v0.12.0-linux-x64/bin/node path=/usr/local/bin/node state=link
      - name: Soft-link NPM
        file: src=/opt/node-v0.12.0-linux-x64/bin/npm path=/usr/local/bin/npm state=link
      - name: Set permissions on the opt directory
        file: path=/opt owner=root group=root recurse=true state=directory
      - name: Update npm
        command: /usr/local/bin/npm install -g npm@"2.7.1"
      - name: Install Yeoman 
        npm: name=yo global=yes
      - name: Install Bower 
        npm: name=bower global=yes
      - name: Install Grunt 
        npm: name=grunt-cli global=yes
      - name: Install JHipster 
        npm: name=generator-jhipster global=yes

- name: Jetbrains IntelliJ IDEA
  hosts: Ubuntu
  sudo: False
  tasks:
      - name: Create Software directory
        file: path=/home/vagrant/Software owner=vagrant group=vagrant state=directory mode=755
      - name: Create Downloads directory
        file: path=/home/vagrant/Downloads owner=vagrant group=vagrant state=directory mode=755
      - name: Download IntelliJ IDEA
        get_url: url=http://download.jetbrains.com/idea/ideaIU-14.1.5.tar.gz dest=/home/vagrant/Downloads/idea.tar.gz mode=444
      - name: Unpack IntelliJ IDEA
        unarchive: src=/home/vagrant/Downloads/idea.tar.gz dest=/home/vagrant/Software copy=no owner=vagrant group=vagrant creates=/home/vagrant/Software/idea-IU-141.2735.5/build.txt
      - name: Soft-link IntelliJ
        file: src=/home/vagrant/Software/idea-IU-141.2735.5 path=/home/vagrant/Software/idea state=link
      - name: Create Desktop directory
        file: path=/home/vagrant/Desktop owner=vagrant group=vagrant state=directory mode=755
      - name: Copy desktop IntelliJ file
        copy: src=files/InjelliJ.desktop dest=/home/vagrant/Desktop/InjelliJ.desktop owner=vagrant group=vagrant backup=no mode=755
      - name: Export IDEA_JDK
        lineinfile: dest=/etc/environment line='IDEA_JDK=/usr/lib/jvm/oracle-jdk-8'

- name: Jetbrain's PyCharm IDE
  hosts: Ubuntu
  sudo: False
  tasks:
      - name: Create Software directory
        file: path=/home/vagrant/Software owner=vagrant group=vagrant state=directory mode=755
      - name: Create Downloads directory
        file: path=/home/vagrant/Downloads owner=vagrant group=vagrant state=directory mode=755
      - name: Download PyCharm
        get_url: url=http://download.jetbrains.com/python/pycharm-professional-4.5.1.tar.gz dest=/home/vagrant/Downloads/pycharm.tar.gz mode=444
      - name: Unpack PyCharm
        unarchive: src=/home/vagrant/Downloads/pycharm.tar.gz dest=/home/vagrant/Software copy=no owner=vagrant group=vagrant creates=/home/vagrant/Software/pycharm-4.5.1/build.txt
      - name: Soft-link PyCharm
        file: src=/home/vagrant/Software/pycharm-4.5.1 path=/home/vagrant/Software/pycharm state=link
      - name: Create Desktop directory
        file: path=/home/vagrant/Desktop owner=vagrant group=vagrant state=directory mode=755
      - name: Copy desktop PyCharm file
        copy: src=files/PyCharm.desktop dest=/home/vagrant/Desktop/PyCharm.desktop owner=vagrant group=vagrant backup=no mode=755
      - name: Export PYCHARM_JDK
        lineinfile: dest=/etc/environment line='PYCHARM_JDK=/usr/lib/jvm/oracle-jdk-8'

- name: Jetbrain's WebStorm IDE
  hosts: Ubuntu
  sudo: False
  tasks:
      - name: Create Software directory
        file: path=/home/vagrant/Software owner=vagrant group=vagrant state=directory mode=755
      - name: Create Downloads directory
        file: path=/home/vagrant/Downloads owner=vagrant group=vagrant state=directory mode=755
      - name: Download WebStorm
        get_url: url=http://download.jetbrains.com/webstorm/WebStorm-10.0.4.tar.gz dest=/home/vagrant/Downloads/webstorm.tar.gz mode=444
      - name: Unpack WebStorm
        unarchive: src=/home/vagrant/Downloads/webstorm.tar.gz dest=/home/vagrant/Software copy=no owner=vagrant group=vagrant creates=/home/vagrant/Software/WebStorm-141.1550/build.txt
      - name: Soft-link WebStorm
        file: src=/home/vagrant/Software/WebStorm-141.1550 path=/home/vagrant/Software/webstorm state=link
      - name: Create Desktop directory
        file: path=/home/vagrant/Desktop owner=vagrant group=vagrant state=directory mode=755
      - name: Copy desktop WebStorm file
        copy: src=files/WebStorm.desktop dest=/home/vagrant/Desktop/WebStorm.desktop owner=vagrant group=vagrant backup=no mode=755
      - name: Export WEBIDE_JDK
        lineinfile: dest=/etc/environment line='WEBIDE_JDK=/usr/lib/jvm/oracle-jdk-8'

- name: Charles proxy bits 
  hosts: Ubuntu
  sudo: False
  tasks:
      - name: Create Software directory 
        file: path=/home/vagrant/Software owner=vagrant group=vagrant state=directory mode=755
      - name: Create Downloads directory
        file: path=/home/vagrant/Downloads owner=vagrant group=vagrant state=directory mode=755
      - name: Download Charles 
        get_url: url=http://www.charlesproxy.com/assets/release/3.10/charles-proxy-3.10.tar.gz dest=/home/vagrant/Downloads/charles.tar.gz mode=444 
      - name: Unpack Charles 
        unarchive: src=/home/vagrant/Downloads/charles.tar.gz dest=/home/vagrant/Software copy=no owner=vagrant group=vagrant creates=/home/vagrant/Software/charles/icon/charles_icon16.png
      - name: Create Desktop directory 
        file: path=/home/vagrant/Desktop owner=vagrant group=vagrant state=directory mode=755
      - name: Copy desktop Charles file  
        copy: src=files/Charles.desktop dest=/home/vagrant/Desktop/Charles.desktop owner=vagrant group=vagrant backup=no mode=755

- name: DbVisualizer Database Browser 
  hosts: Ubuntu
  sudo: False
  tasks:
      - name: Create Software directory 
        file: path=/home/vagrant/Software owner=vagrant group=vagrant state=directory mode=755
      - name: Create Downloads directory
        file: path=/home/vagrant/Downloads owner=vagrant group=vagrant state=directory mode=755
      - name: Download DbVisualizer 
        get_url: url=https://www.dbvis.com/product_download/dbvis-9.2.5/media/dbvis_unix_9_2_5.tar.gz dest=/home/vagrant/Downloads/dbvis.tar.gz mode=444 
      - name: Unpack DbVisualizer 
        unarchive: src=/home/vagrant/Downloads/dbvis.tar.gz dest=/home/vagrant/Software copy=no owner=vagrant group=vagrant creates=/home/vagrant/Software/DbVisualizer
      - name: Create Desktop directory 
        file: path=/home/vagrant/Desktop owner=vagrant group=vagrant state=directory mode=755
      - name: Copy desktop DbVisualizer file  
        copy: src=files/Database.desktop dest=/home/vagrant/Desktop/Database.desktop owner=vagrant group=vagrant backup=no mode=755

- name: logFACES Client 
  hosts: Ubuntu
  sudo: False
  tasks:
      - name: Create Software directory 
        file: path=/home/vagrant/Software owner=vagrant group=vagrant state=directory mode=755
      - name: Create Downloads directory
        file: path=/home/vagrant/Downloads owner=vagrant group=vagrant state=directory mode=755
      - name: Download logFACES 
        get_url: url=http://www.moonlit-software.com/logfaces/downloads/lfc.4.2.0.linux.gtk.x86_64.tar.gz dest=/home/vagrant/Downloads/logfaces.tar.gz mode=444 
      - name: Unpack logFACES 
        unarchive: src=/home/vagrant/Downloads/logfaces.tar.gz dest=/home/vagrant/Software copy=no owner=vagrant group=vagrant creates=/home/vagrant/Software/logFacesClient/about.html
      - name: soft-link the JDK to a normalized location
        file: src=/usr/lib/jvm/oracle-jdk-8/jre dest=/home/vagrant/Software/logFacesClient/jre owner=root group=root state=link
      - name: Create Desktop directory 
        file: path=/home/vagrant/Desktop owner=vagrant group=vagrant state=directory mode=755
      - name: Copy desktop logFACES file  
        copy: src=files/logFACES.desktop dest=/home/vagrant/Desktop/logFACES.desktop owner=vagrant group=vagrant backup=no mode=755

- name: MySQL Tools
  hosts: Ubuntu
  sudo: True
  tasks:
      - name: Install MySQL client
        apt: name=mysql-client state=latest
      - name: Install MySQL Workbench
        apt: name=mysql-workbench state=latest

- name: Create Source Folders
  hosts: Ubuntu
  sudo: False
  tasks:
      - name: Create GitHub directory
        file: path=/home/vagrant/GitHub owner=vagrant group=vagrant state=directory mode=755
      - name: Create Bitbucket directory
        file: path=/home/vagrant/Bitbucket owner=vagrant group=vagrant state=directory mode=755
      - name: Create Stash directory
        file: path=/home/vagrant/Stash owner=vagrant group=vagrant state=directory mode=755
      - name: Create .lazybones directory
        file: path=/home/vagrant/.lazybones owner=vagrant group=vagrant state=directory mode=755
      - name: Copy lazybones configurations file
        copy: src=files/config.groovy dest=/home/vagrant/.lazybones/config.groovy owner=vagrant group=vagrant backup=no mode=744

- name: FFmpeg binary
  hosts: Ubuntu
  sudo: True
  tasks:
      - name: Download FFmpeg
        get_url: url=http://johnvansickle.com/ffmpeg/releases/ffmpeg-release-64bit-static.tar.xz dest=/root/ffmpeg.tar.xz mode=444
      - name: Unpack FFmpeg
        unarchive: src=/root/ffmpeg.tar.xz dest=/opt copy=no owner=root group=root creates=/opt/ffmpeg-2.7.2-64bit-static/ffprobe
      - name: Soft-link FFmpeg
        file: src=/opt/ffmpeg-2.7.2-64bit-static path=/opt/ffmpeg state=link
      - name: Set permissions on the opt directory
        file: path=/opt owner=root group=root recurse=true state=directory
