[Desktop Entry]
Version=1.0
Type=Application
Name=0xDBE
Comment=Database Browser
Exec=/home/vagrant/GitHub/docker-0xdbe/0xdbe.sh
Icon=/home/vagrant/GitHub/docker-0xdbe/0xdbe.png
Path=
Terminal=false
StartupNotify=true

