[Desktop Entry]
Version=1.0
Type=Application
Name=Docker
Comment=Network Debugging Proxy
Exec=/home/vagrant/GitHub/docker-charles-proxy/charles.sh
Icon=/home/vagrant/GitHub/docker-charles-proxy/charles_icon.svg
Path=
Terminal=false
StartupNotify=true

