[Desktop Entry]
Version=1.0
Type=Application
Name=CLion
Comment=C++ IDE
Exec=/home/vagrant/Software/clion/bin/clion.sh
Icon=/home/vagrant/Software/clion/bin/clion.svg
Path=
Terminal=false
StartupNotify=true

