[Desktop Entry]
Version=1.0
Type=Application
Name=Database
Comment=Database Browser
Exec=/home/vagrant/GitHub/docker-emacs/emacs.sh
Icon=emacs24
Path=
Terminal=false
StartupNotify=true
