[Desktop Entry]
Version=1.0
Type=Application
Name=Emacs
Comment=Text Editor
Exec=/home/vagrant/GitHub/docker-emacs/emacs.sh
Icon=/usr/share/icons/gnome/scalable/places/ubuntu-logo.svg
Path=
Terminal=false
StartupNotify=true
