[Desktop Entry]
Version=1.0
Type=Application
Name=Docker
Comment=Distributed Logger
Exec=/home/vagrant/GitHub/docker-logfaces-client/logfaces.sh
Icon=/home/vagrant/GitHub/docker-logfaces-client/icon.xpm
Path=
Terminal=false
StartupNotify=true

