[Desktop Entry]
Version=1.0
Type=Application
Name=Docker
Comment=Ruby IDE
Exec=/home/vagrant/GitHub/docker-rubymine/rubymine.sh
Icon=/home/vagrant/GitHub/docker-rubymine/rubymine.png
Path=
Terminal=false
StartupNotify=true
