[Desktop Entry]
Version=1.0
Type=Application
Name=Spring Tool Suite
Comment=JVM IDE
Exec=/home/vagrant/GitHub/docker-sts/sts.sh
Icon=/home/vagrant/GitHub/docker-sts/sts.xpm
Path=
Terminal=false
StartupNotify=true

