[Desktop Entry]
Version=1.0
Type=Application
Name=Docker
Comment=Javascript IDE
Exec=/home/vagrant/GitHub/docker-webstorm/webstorm.sh
Icon=/home/vagrant/GitHub/docker-webstorm/webide.png
Path=
Terminal=false
StartupNotify=true

